<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'react_base' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Using web-pack hence commenting the rails
      %= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' % -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
